*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

.web{
    width: 100%;
    min-width: 1300px;
    margin: 0 auto;
}

header{
    width: 1300px;
    height: 86px;
    margin: 0 auto;
    background: #fff;
}

header .logo{

}