<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>memo</title>
    <link rel="stylesheet" type="text/css" href="../style/style.css"/>
    <!-- <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/3.0.2/less.min.js"></script> -->
</head>
<body>
<div id="aboutour">
    <div class="web">
        <header>
            <a href="" class="logo"></a>
            <nav>
                <a class="active" href="javascript:;">Home</a>
                <a href="javascript:;">Store</a>
                <a href="javascript:;">After Sale</a>
                <a href="javascript:;">Audio Us</a>
                <a href="aboutour.html">Contact Us</a>
                <a href="javascript:;">Location</a>
            </nav>
        </header>
    </div>
    <div class="banner">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide"><img src="../images/aboutour/banner.jpg" alt=""></div>
            </div>
        </div>
    </div>
    <div class="company-pro">
        <h3 class="title font-p">MEMO公司简介</h3>
        <div class="circle-list">
                <img src="../images/aboutour/five-circle.png" alt="">
        </div>
        <p class="font-p need-oreage-circle">2015年6月帮助小米在海外市场进行海外市场开拓，并成为小米海外官方授权代理商。</p>
        <p class="font-p need-oreage-circle">公司经营业务范围主要为智能手机和移动互联网业务。小米手机、iNew、三星、apple、 oneplus、中国移动和小米公司的智</p>
    </div>
    <div class="partner-icon">
        <img src="../images/common/partenerLogo.png" alt="">
    </div>
    <div class="turnover-pro">
        <div style="width: 1300px;margin: auto;">
            <div class="title">
                <p class="need-oreage-circle">2015年营业额： <span>2000万美金</span></p>
                <p class="need-oreage-circle">2015年营业额： <span>2000万美金</span></p>
            </div>
            <div class="circle-list">
                <img src="../images/aboutour/five-circle.png" alt="">
            </div>
            <div class="deta-pro">
                <p class="need-oreage-circle">公司成立于2010年 成立以来一直从事海外市场智能手机销售和移动互联网运营业务。海外业务分，亚洲业务：在深圳和香港、雅加达、分别设立分公司，欧洲业务：在西班牙马德里设立分公司、德国法兰克福设立分公司。</p>
                <p class="need-oreage-circle">截至目前公司渠道超过300家，其中正式合作销售的有100个，覆盖零售店面上千家，店面覆盖欧洲区域、亚洲区域。</p>
            </div>
            <div class="deta-pro">
                <p class="need-oreage-circle">重点国家：亚洲，印尼、泰国、马来西亚。欧洲，西班牙，葡萄牙、意大利、德国、法国、奥地利、土耳其。</p>
                <p class="need-oreage-circle">渠道体系： 落地渠道 +本土电商渠道 +跨境电商渠道 </p>
            </div>
        </div>
    </div>
    <div class="team-pro">
        <h3 class="title font-p">MEMO团队介绍</h3>
        <div class="circle-list">
            <img src="../images/aboutour/five-circle.png" alt="">
        </div>
        <div class="first people-pro">
            <div class="img-show">
                <img src="../images/aboutour/cjl.png" alt="">
            </div>
            <div class="all-pro">
                <p class="name">陈智皆 &nbsp; Jay</p>
                <p class="posi">创始人兼CEO</p>
                <p class="text-pro">
                    潮青会 会员     香港海陆丰商会 会员单位
                    潮汕人，八年手机通讯和移动互联网行业领域经验五年跨境电商运营海外贸易运营经验与跨境供应链管理经验，家族一直从事手机通讯行业的生产制造与品牌运营生意，自营过多个智能手机品牌，其中有自营品牌高峰时期开店500家。代理品牌有小米、Apple 、三星、黑莓、中国移动等，在欧洲和东南亚等国家有多年累积的销售渠道和店铺自营能力，和欧美运营商西班牙电信、America Movil、Cricket、USCC、Verizon|、Orange、等运营商业务合作，为其提供软硬件服务。在欧洲各国和东南亚各国的华人商会，潮汕商会，有着紧密商业合作联
                    系和广泛人脉资源。<br>
                    担任：曼欧科技（香港）有限公司 CEO、深圳市兵马科技有限公司   创始人 股东董事
                </p>
            </div>
        </div>
        <div class="no-first people-pro">
            <div class="img-show">
                <img src="../images/aboutour/sw.png" alt="">
            </div>
            <div class="all-pro">
                <p class="name">孙伟</p>
                <p class="posi">营销总监</p>
                <p class="text-pro">
                    毕业于南京邮电大学电子工程系 曾先后任职于三星电子VD研究所 ，华为海外运营商解决方案部 ，腾讯移动互联网事业群，八年电子通讯领域技术研究及咨询经验以及四年互联网产品管理经验 曾担任多个重大项目负责人。
                </p>
            </div>
        </div>
        <div class="no-first people-pro">
            <div class="img-show">
                <img src="../images/aboutour/aitor.png" alt="">
            </div>
            <div class="all-pro">
                <p class="name">Aitor</p>
                <p class="posi">供应链总监</p>
                <p class="text-pro">
                        曾先后任职于，欧洲Eda、Dhl、GLS等集团公司。负责供应链管理，产品交付管理。物流货物运输管理。服务过华为，三星、Apple、中国跨境电商等大型公司项目的供应链运营。
                </p>
            </div>
        </div>
        <div class="no-first people-pro">
            <div class="img-show">
                <img src="../images/aboutour/fernando.png" alt="">
            </div>
            <div class="all-pro">
                <p class="name">Fernando</p>
                <p class="posi">售后主管</p>
                <p class="text-pro">
                    曾先后任职于,西班牙运营商，负责智能终端的售后服务工作，西班牙保险公司MAPFRE保险公司，消费类电子保险业务维修售后部门负责人。服务过bq、Apple、三星、nubia、华为等品牌。
                </p>
            </div>
        </div> 
        <div class="no-first people-pro">
            <div class="img-show">
                <img src="../images/aboutour/sym.png" alt="">
            </div>
            <div class="all-pro">
                <p class="name">孙乙民</p>
                <p class="posi">销售总监</p>
                <p class="text-pro">
                    曾先后任职于久邦数码（纳斯达克上市公司）海外销售总监，期间负责公司重大项目商务合作，移动互联网和智能手机硬件业务。和西班牙电信、Telefonica、America Movil、Cricket、USCC、Verizon|、Orange、Vodafon.等运营商深度合作。为其提供软硬件服务和销售工作。
                </p>
            </div>
        </div> 
    </div>
    <div class="footer clear">
        <div class="bottom-map clear">
            <div class="map-item">
                <div class="item-title">Product</div>
                <a href="">RedMi2</a>
                <a href="">RedMi2 Pro</a>
                <a href="">Mi Band</a>
                <a href="">Mi4i</a>
            </div>
            <div class="map-item">
                <div class="item-title">Service</div>
                <a href="">Online Store</a>
                <a href="">Agency</a>
            </div>
            <div class="map-item">
                <div class="item-title">About Us</div>
                <a href="">Channel</a>
                <a href="">Brand</a>
            </div>
            <div class="map-item">
                <div class="item-title">Cooperation</div>
                <a href="">Join Us</a>
                <a href="">Consulting</a>
            </div>
        </div>
        <div class="contact-info">
            <div class="tel-num">400-000-000</div>
            <div class="open-time">Mon to Sun 9:00-21:00</div>
            <a class="tel" href="" class="online">Online Service</a>
        </div>
    </div>
    <div class="copy">
        <div class="copyright">www.memo.com 2011-2017 &copy; All Rights Reserved</div>
    </div>
            
</div>

<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<script>
    $(function () {
        
    })
</script>
</body>
</html>