<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>memo</title>
    <link rel="stylesheet" type="text/css" href="../style/style.css"/>
    <!-- <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/3.0.2/less.min.js"></script> -->
</head>
<body>
    <div id="news">
        <div class="web">
            <header>
                <a href="" class="logo"></a>
                <nav>
                    <a class="active" href="../index.html">Home</a>
                    <a href="phonebrands.html">Store</a>
                    <a href="javascript:;">After Sale</a>
                    <a href="javascript:;">Audio Us</a>
                    <a href="aboutour.html">Contact Us</a>
                    <a href="javascript:;">Location</a>
                </nav>
            </header>
        </div>
        <div class="banner">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide"><img src="../images/news/banner.png" alt=""></div>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="nav clear">
                <nav>
                    <a href="javascript:;">博客</a>
                    <a href="javascript:;">视频</a>
                    <a href="javascript:;">产品图片</a>
                    <a class="active" href="javascript:;">新闻</a>
                </nav>
            </div>
            <div class="news-list">
                <div class="list">
                    <div class="news-cover line-end">
                        <div class="title">MEMO-入选 Brand™ 2018 中国出海品牌 100 强</div>
                        <div class="share">
                            <span class="time-author">2018.03.20 23:08   By: MEMO 博客</span>
                            <!-- <div class="icon">
                                <img src="" alt="">
                                <span>23</span>
                                <img src="" alt="">
                                <span>23</span>
                                <img src="" alt="">
                            </div> -->
                        </div>
                        <div class="image">
                            <img src="../images/news/coverimg.png" alt="">
                        </div>
                        <div class="introdu">
                            <p>截止目前公司渠道超过300加，其中正式合作销售的有100个，自营品牌店铺200家、覆盖实体店面上千家，覆盖在线销售店铺1000家，覆盖欧洲区域、亚洲区域。其中我们的强势区域为：欧洲区域、东南亚区域。</p>
                        </div>
                        <a href="newdetail.html" class="more">
                            <p>+  MORE</p>
                        </a>
                    </div>
                    <div class="news-cover line-end">
                        <div class="title">MEMO-入选 Brand™ 2018 中国出海品牌 100 强</div>
                        <div class="share">
                            <span class="time-author">2018.03.20 23:08   By: MEMO 博客</span>
                            <!-- <div class="icon">
                                <img src="" alt="">
                                <span>23</span>
                                <img src="" alt="">
                                <span>23</span>
                                <img src="" alt="">
                            </div> -->
                        </div>
                        <div class="image">
                            <img src="../images/news/coverimg.png" alt="">
                        </div>
                        <div class="introdu">
                            <p>截止目前公司渠道超过300加，其中正式合作销售的有100个，自营品牌店铺200家、覆盖实体店面上千家，覆盖在线销售店铺1000家，覆盖欧洲区域、亚洲区域。其中我们的强势区域为：欧洲区域、东南亚区域。</p>
                        </div>
                        <a href="newdetail.html" class="more">
                            <p>+  MORE</p>
                        </a>
                    </div>
                    <div class="news-cover">
                        <div class="title">MEMO-入选 Brand™ 2018 中国出海品牌 100 强</div>
                        <div class="share">
                            <span class="time-author">2018.03.20 23:08   By: MEMO 博客</span>
                            <!-- <div class="icon">
                                <img src="" alt="">
                                <span>23</span>
                                <img src="" alt="">
                                <span>23</span>
                                <img src="" alt="">
                            </div> -->
                        </div>
                        <div class="image">
                            <img src="../images/news/coverimg.png" alt="">
                        </div>
                        <div class="introdu">
                            <p>截止目前公司渠道超过300加，其中正式合作销售的有100个，自营品牌店铺200家、覆盖实体店面上千家，覆盖在线销售店铺1000家，覆盖欧洲区域、亚洲区域。其中我们的强势区域为：欧洲区域、东南亚区域。</p>
                        </div>
                        <a href="newdetail.html" class="more">
                            <p>+  MORE</p>
                        </a>
                    </div>
                </div>

                <div class="hot-news">
                    <div class="title">热点推荐</div>
                    <div class="news-short">
                        <img src="../images/news/565645.png" alt="">
                        <p><span>MEMO 入选 Brand™ 2018 中国出海品牌 100 强</span> </p>
                    </div>
                    <div class="news-short">
                        <img src="../images/news/565645.png" alt="">
                        <p><span>MEMO 入选 Brand™ 2018 中国出海品牌 100 强</span> </p>
                    </div>
                    <div class="news-short">
                        <img src="../images/news/565645.png" alt="">
                        <p><span>MEMO 入选 Brand™ 2018 中国出海品牌 100 强</span> </p>
                    </div>
                </div>
                
                <div class="pagenation">
                    <div class="prev no-click"><</div>
                    <div class="num no-click">1</div>
                    <div class="num">2</div>
                    <div class="num">3</div>
                    <div class="num">4</div>
                    <div class="num">5</div>
                    <div class="more">...</div>
                    <div class="next">></div>
                </div>
            </div>
            
            
            </div>
            
        </div>
        
        <div class="footer clear">
            <div class="bottom-map clear">
                <div class="map-item">
                    <div class="item-title">Product</div>
                    <a href="">RedMi2</a>
                    <a href="">RedMi2 Pro</a>
                    <a href="">Mi Band</a>
                    <a href="">Mi4i</a>
                </div>
                <div class="map-item">
                    <div class="item-title">Service</div>
                    <a href="">Online Store</a>
                    <a href="">Agency</a>
                </div>
                <div class="map-item">
                    <div class="item-title">About Us</div>
                    <a href="">Channel</a>
                    <a href="">Brand</a>
                </div>
                <div class="map-item">
                    <div class="item-title">Cooperation</div>
                    <a href="">Join Us</a>
                    <a href="">Consulting</a>
                </div>
            </div>
            <div class="contact-info">
                <div class="tel-num">400-000-000</div>
                <div class="open-time">Mon to Sun 9:00-21:00</div>
                <a class="tel" href="" class="online">Online Service</a>
            </div>
        </div>
        <div class="copy">
            <div class="copyright">www.memo.com 2011-2017 &copy; All Rights Reserved</div>
        </div>
    </div>
    

</body>
</html>