<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>memo</title>
    <link rel="stylesheet" type="text/css" href="../style/style.css"/>
    <!-- <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/3.0.2/less.min.js"></script> -->
</head>
<body>
    <div id="phonebrands">
        <div class="web">
            <header>
                <a href="" class="logo"></a>
                <nav>
                    <a class="active" href="javascript:;">Home</a>
                    <a href="phonebrands.html">Store</a>
                    <a href="javascript:;">After Sale</a>
                    <a href="javascript:;">Audio Us</a>
                    <a href="aboutour.html">Contact Us</a>
                    <a href="javascript:;">Location</a>
                </nav>
            </header>
        </div>
        <div class="show-icon">
            <div class="icon-phone">
                <div>
                    <img src="../images/common/xmicon.png" alt="">
                </div>
                <div>
                    <img src="../images/common/flicon.png" alt="">
                </div>
                <div>
                    <img src="../images/common/nbicon.png" alt="">
                </div>
                <div>
                    <img src="../images/common/hwicon.png" alt="">
                </div>
            </div>
            <div class="icon-phone">
                <div>
                    <img src="../images/common/ryicon.png" alt="">
                </div>
                <div>
                    <img src="../images/common/sxicon.png" alt="">
                </div>
                <div>
                    <img src="../images/common/pgicon.png" alt="">
                </div>
                <div>
                    <img src="../images/common/wvicon.png" alt="">
                </div>
            </div>
        </div>
        <div class="banner">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide"><img src="../images/news/banner.png" alt=""></div>
                </div>
            </div>
        </div>

        <div class="brands-show">
            <div class="title">
                <div class="hot">热销机型</div>
                <a href="morephone.html">更多机型>></a>
            </div>
            <div class="phone-list">
                <div class="phone-card">
                    <img src="../images/phonebrands/phone1.png" alt="">
                    <p class="phone-pro">
                        小米Note 3 人脸解锁
                    </p>
                    <p class="phone-price">
                        <span class="nowprice">1899.00&nbsp; </span>   <span class="setprice">|&nbsp; 1999.00</span> 
                    </p>
                </div>
                <div class="phone-card">
                    <img src="../images/phonebrands/phone2.jpg" alt="">
                    <p class="phone-pro">
                        小米Note 3 人脸解锁
                    </p>
                    <p class="phone-price">
                        <span class="nowprice">1899.00&nbsp; </span>   <span class="setprice"></span> 
                    </p>
                </div>
                <div class="phone-card">
                    <img src="../images/phonebrands/phone3.jpg" alt="">
                    <p class="phone-pro">
                        小米Note 3 人脸解锁
                    </p>
                    <p class="phone-price">
                        <span class="nowprice">1899.00&nbsp; </span>   <span class="setprice"></span> 
                    </p>
                </div>
                <div class="phone-card">
                    <img src="../images/phonebrands/phone4.jpg" alt="">
                    <p class="phone-pro">
                        小米Note 3 人脸解锁
                    </p>
                    <p class="phone-price">
                        <span class="nowprice">1899.00&nbsp; </span>   <span class="setprice"></span> 
                    </p>
                </div>
                <div class="phone-card">
                    <img src="../images/phonebrands/phone5.jpg" alt="">
                    <p class="phone-pro">
                        小米Note 3 人脸解锁
                    </p>
                    <p class="phone-price">
                        <span class="nowprice">1899.00&nbsp; </span>   <span class="setprice"></span> 
                    </p>
                </div>
                <div class="phone-card">
                    <img src="../images/phonebrands/phone6.jpg" alt="">
                    <p class="phone-pro">
                        小米Note 3 人脸解锁
                    </p>
                    <p class="phone-price">
                        <span class="nowprice">1899.00&nbsp; </span>   <span class="setprice"></span> 
                    </p>
                </div>
                <div class="phone-card">
                    <img src="../images/phonebrands/phone7.jpg" alt="">
                    <p class="phone-pro">
                        小米Note 3 人脸解锁
                    </p>
                    <p class="phone-price">
                        <span class="nowprice">1899.00&nbsp; </span>   <span class="setprice"></span> 
                    </p>
                </div>
                <div class="phone-card">
                    <img src="../images/phonebrands/phone8.jpg" alt="">
                    <p class="phone-pro">
                        小米Note 3 人脸解锁
                    </p>
                    <p class="phone-price">
                        <span class="nowprice">1899.00&nbsp; </span>   <span class="setprice"></span> 
                    </p>
                </div>
            </div>
        </div>
        
        <div class="footer clear">
            <div class="bottom-map clear">
                <div class="map-item">
                    <div class="item-title">Product</div>
                    <a href="">RedMi2</a>
                    <a href="">RedMi2 Pro</a>
                    <a href="">Mi Band</a>
                    <a href="">Mi4i</a>
                </div>
                <div class="map-item">
                    <div class="item-title">Service</div>
                    <a href="">Online Store</a>
                    <a href="">Agency</a>
                </div>
                <div class="map-item">
                    <div class="item-title">About Us</div>
                    <a href="">Channel</a>
                    <a href="">Brand</a>
                </div>
                <div class="map-item">
                    <div class="item-title">Cooperation</div>
                    <a href="">Join Us</a>
                    <a href="">Consulting</a>
                </div>
            </div>
            <div class="contact-info">
                <div class="tel-num">400-000-000</div>
                <div class="open-time">Mon to Sun 9:00-21:00</div>
                <a class="tel" href="" class="online">Online Service</a>
            </div>
        </div>
        <div class="copy">
            <div class="copyright">www.memo.com 2011-2017 &copy; All Rights Reserved</div>
        </div>
    </div>
    

</body>
</html>